<div class="centered"><br/><br/>
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h3>Registracija</h3><br/>
		<label>Email:</label><br/>
		<input required type = "email" ng-model = "user.email" class="form-control"/><br/><br/>
		<label>Lozinka:</label><br/>
		<input required type = "password" ng-model = "user.password" class="form-control"/><br/><br/>
		<label>Ime:</label><br/>
		<input required type = "text" ng-model = "user.name" class="form-control"/><br/><br/>
		<label>Prezime:</label><br/>
		<input required type = "text" ng-model = "user.surname" class="form-control"/><br/><br/>
		<button class="btn btn-success" ng-click="register()"><span class="glyphicon glyphicon-plus-sign"></span> Registruj se</button>
	</div>
</div>
